* {
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background: url('/imagens/backgraund.png') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  width: 90%;
  background-color: white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2em;
  color: rgb(169, 0, 56);
}

h2 {
  color: #3f51b5;
}

.mensagem {
  margin: 1rem 0;
  font-size: 1.1em;
}

.botoes img {
  padding: 10px 2px;
  cursor: pointer;
  max-width: 100%;
}

.presentes {
  margin-top: 20px;
  text-align: left;
}

.presentes ul {
  padding-left: 20px;
}

.escondido {
  display: none;
}

.presenca {
  max-width: 400px;
  width: 80%;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.confirm-button {
  width: 100%;
  padding: 10px;
  background: #d3d3d3;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.confirm-button.enabled {
  background: #ff7800cc;
  cursor: pointer;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 1rem;
    background-size: cover;
  }

  .container {
    margin: 1rem;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5em;
  }

  .mensagem {
    font-size: 1em;
  }

  .button-container {
    flex-direction: column;
    align-items: stretch;
  }

  .add-button,
  .confirm-button {
    font-size: 14px;
    padding: 10px;
  }

  .presenca {
    padding: 15px;
  }

  .botoes img {
    padding: 10px 2px;
    cursor: pointer;
    max-width: 30%;
  }
}